@model IEnumerable<Ecom1.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a href="D:\Ecom1\Ecom1\Views\Product\ViewCart.cshtml"></a>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CartId)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CartId)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>*@
                <td>
                    @Html.ActionLink("Buy Now", "AddProductToCart", new { id = item.ProductId })
                </td>
            </tr>
}
    </tbody>
</table>
